# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore folders
Starcraft/*
!Starcraft/bwapi-data/bwapi.ini
!Starcraft/maps/Project\ AI/*
BWAPI_4.0.0/*
!BWAPI_4.0.0/DesolatorModule/*
!BWAPI_4.0.0/TrivialModule/*

